inscrEtu/client/src/main/resources/InscrWSType.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://webservices/" name="InscrWebService" targetNamespace="http://webservices/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservices/" elementFormDefault="unqualified" targetNamespace="http://webservices/" version="1.0">

            <xs:element name="addCoursP" type="tns:addCoursP"/>

            <xs:element name="addCoursPResponse" type="tns:addCoursPResponse"/>

            <xs:element name="creatParcours" type="tns:creatParcours"/>

            <xs:element name="creatParcoursResponse" type="tns:creatParcoursResponse"/>

            <xs:complexType name="addCoursP">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg1" type="tns:cours"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="addCoursPResponse">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="creatParcours">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="creatParcoursResponse">
                <xs:sequence/>
            </xs:complexType>

            <xs:simpleType name="cours">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="EP5I9161"/>
                    <xs:enumeration value="EP5I9112"/>
                    <xs:enumeration value="EP5EU301"/>
                    <xs:enumeration value="EP5I9270"/>
                    <xs:enumeration value="EP5I9264"/>
                    <xs:enumeration value="EP5I9212"/>
                    <xs:enumeration value="EP5I9193"/>
                    <xs:enumeration value="EP5I9262"/>
                    <xs:enumeration value="EP5I9261"/>
                </xs:restriction>
            </xs:simpleType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addCoursP">
        <wsdl:part element="ns1:addCoursP" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addCoursPResponse">
        <wsdl:part element="ns1:addCoursPResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="creatParcoursResponse">
        <wsdl:part element="ns1:creatParcoursResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="creatParcours">
        <wsdl:part element="ns1:creatParcours" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="InscrWebService">
        <wsdl:operation name="addCoursP">
            <wsdl:input message="ns1:addCoursP" name="addCoursP">
            </wsdl:input>
            <wsdl:output message="ns1:addCoursPResponse" name="addCoursPResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="creatParcours">
            <wsdl:input message="ns1:creatParcours" name="creatParcours">
            </wsdl:input>
            <wsdl:output message="ns1:creatParcoursResponse" name="creatParcoursResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>